*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(https://wallpapercave.com/wp/wp6285180.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color1{
    background-color: #24315FFF;
}

.bg-color2{
    background-color: #B7E4F9FF;
}

.bg-color3{
    background-color: #032830;
}

.bg-color4{
    background-color: #F5F5F5F5;
}


#ft-color1{
    color:azure;
}

#ft-color2{
    color: #FAE48BFF;
}

#ft-color3{
    color:#161719;
}

.developers{
    padding: 40px 40px 80px 40px;
}

.developers .carousel{
    max-width: 800px;
}

.carousel-item{
    height: 500px;
}

.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgDeveloper{
    height: 100px;
    width: 100%;
    margin: 10px 10px 20px 10px;
}

.textDeveloper{
    max-width: 70%;
    font-size: 15px;
    text-align: center;
}

.textInfo{
    font-size: 0.9rem;
    color: #656060;
}