*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(https://wallpapercave.com/wp/wp6285180.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-color1{
    background-color: #24315FFF;
}

.bg-color2{
    background-color: #B7E4F9FF;
}

.bg-color3{
    background-color: #032830;
}

.bg-color4{
    background-color: #F5F5F5F5;
}


#ft-color1{
    color:azure;
}

#ft-color2{
    color: #FAE48BFF;
}

#ft-color3{
    color:#161719;
}

